body{
  width: 100%;
}
.heading{
  font-size: 50px;
  text-align: center;
  color: #1B2B50;
  font-weight: bold;
  font-family: sans-serif;
}
.products{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}